@font-face {
    font-family: "Circe";
    src: url("../fonts/circe/circe_300.woff");
    font-weight: 300;
    font-size: normal;
}

@font-face {
    font-family: "Circe";
    src: url("../fonts/circe/circe_600.woff");
    font-weight: 600;
    font-size: normal;
}

@font-face {
    font-family: "Circe";
    src: url("../fonts/circe/circe_700.woff");
    font-weight: 700;
    font-size: normal;
}

html{
    font-size: 62.5%;
    line-height: 1.15;
}

body    {
    font: 1.65rem/1.2 Circe, sans-serif;
    font-family: "Circe";
    font-weight: 300;
    height: 100%;
    width: 100%;
    font-size: 16px;
    line-height: 1;
}

.layout {
    max-width: 1150px;
    padding: 22px 0 70px 0;
    margin: 0 auto;
}

.product {
    display: flex;
    justify-content: space-between;
}

.product__preview {
    display: flex;
}

.maxWidth900 {
    max-width: 900px;
}

.padLR15 {
    padding-left: 15px;
    padding-right: 15px;
}

.padTB20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.noPad {
    padding: 0;
}

.noMar {
    margin: 0;
}

.slider-wrapper {
    max-height: 516px;
    display: flex;
}

.module-gallery .slider-thumb{
    max-width: 90;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.custom-slider-thumb{
    margin: 0 110px 0 0;
}

.type-image {
    margin: 0 0 30px 0;
}

.preview-image:hover {
    transform: scale(1.3);
}

.product__description {
    margin-left: auto;
}

.product__title {
    color: #131313;
    font-family: "Circe";
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}

.product__nav {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    color: #006be5;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 0.13px;
}

.product__nav a{
    margin: 0 30px 15px 0;
}

.product__price {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.product__price-old {
    color: #bfbebe;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    text-decoration: line-through;
}

.product__price-actual {
    margin-left: 20px;
    color: #888888;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
}

.product__price-discount {
    margin-left: 60px;
    color: #131313;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
}

.product__price-discount-text {
    margin-left: 10px;
    color: #bfbebe;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    
}

.product__info {
    max-width: 340px;
    font-size: 13px;
    padding: 15px 22px;
    margin-top: 20px;
    background: #f4f4f4;
}

.product__info-item{
    height: 18px;
    display: flex;
    align-items: center;
}

.product__info-item a{
    color: #006be5;
    display: inline-block;
    margin-left: 5px;
}

.product__info-item img{
    width: 17px;
    margin: 0 15px 0 0;
}

.product__counter {
    display: flex;
    margin-top: 30px;
    max-width:  100px;
    align-items: center;
}

.product__counter {
    margin-top: 30px;
    max-width:  100px;
}

.product__counter input{
    margin-left: 10px;
    max-width:  20px;
}

.count-btn{
    display: inline-block;
    color: #131313;
    background-color: #ffffff;
    border: 2px solid #d9d9d9;
    line-height: 20px;
    font-size: 13px;
    font-weight: 700;
    height: 20px;
    width: 20px;
    text-align: center;
    cursor: pointer;
}



.product__actions {
    max-width: 500px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.custom-btn {
    display: inline-block;
    color: #131313;
    background-color: #ffffff;
    border: 2px solid #d9d9d9;
    padding: 0 15px;
    height: 48px;
    line-height: 48px;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.65px;
    min-width: 240px;
    cursor: pointer;
}

.custom-btn--blue {
    color: #fff;
    background-color: #006be5;
    border: 2px solid #006be5;
}

.custom-btn + .custom-btn {
    margin-left: 10px;
}

.product__text {
    max-width: 445px;
    margin-top: 40px;
    color: #131313;
    font-size: 13px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0.13px;
}

.product__share {
    color: #131313;
    font-size: 13px;
    font-weight: 300;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 0.65px;
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.product__share-list{
    margin-left: 20px;
}

.product__share-list a:not(:last-child) {
    margin: 0 13px 0 0;
}

.product__share-count {
    margin: 0 0 0 13px;
    padding: 10px;
    background-color: #efefef;
    position: relative;
}

.product__share-count::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    left: -7px;
    transform: translate(0, -50%);
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid #efefef;
    border-bottom: 7px solid transparent;
}

a {
    text-decoration: none;
    color: inherit;
    background-color: transparent;
}

img {
    vertical-align: bottom;
    border-style: none;
}


*, *:before, *:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

